<ul class="posts">
    {% for post in posts %}
        <li class="post">
            <div class="post-content">
                <div class="post-author">
                    <a href="{{ url_for('main.get_user', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>
                </div>
                <div class="post-date">{{ moment(post.create_time).fromNow() }}</div>
                <div class="post-body">{{ post.body }}</div>
                <div class="post-footer">
                    {% if current_user == post.author %}
                        <a href="{{ url_for('main.edit', id=post.id) }}">
                            <span class="label label-danger">Edit</span>
                        </a>
                    {% elif current_user.is_administrator() %}
                        <a href="{{ url_for('.edit', id=post.id) }}">
                            <span class="label label-danger">Edit [Admin]</span>
                        </a>
                    {% endif %}
                    <a href="{{ url_for('main.post', id=post.id) }}">
                        <span class="label label-default">Permalink</span>
                    </a>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>